[DATABASE]
TYPE=LOCAL #LOCAL or ADB
USERNAME=vector
PASSWORD=
DSN=
WALLET_LOCATION=../wallet
WALLET_PASSWORD=

[OCI]
CONFIG_PROFILE=DEFAULT
COMPARTMENT_ID=ocid1.compartment.oc1..aaaaa...
REGION=
AUTH_TYPE=API_KEY